* {
  font-family: 'Inter', system-ui;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #E5E5E5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btnGreen {
  width: 100%;
  height: 55px;
  background: #9DD558;
  border-radius: 18px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .2 linear;

  &:hover {
    background-color: lighten(#9DD558, 5%);
  }

  &:active {
    background-color: darken(#9DD558, 5%);
  }
}

.app {
  background: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0, .04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #EAEAEA;

  // img {
  //   margin-right: 15px;
  // }

  h3,
  p {
    margin: 0;
  }
}

.content {
  h1 {
    margin: 0;
  }
}



.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .btnGreen {
    width: 245px;
    line-height: 24px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.search-block {
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;

  .btnClear {
    position: absolute;
    right: 10px;
    width: 18px;
    height: 18px;
    top: 12px;
  }

  input {
    border: none;
    padding: 12px;
    font-size: 14px;
    width: 250px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, .5);
  z-index: 1;
}

.drawer {
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: -10px 4px 24px rgba(#000, .1);
  padding: 30px;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0;
  }

  .drawer-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .items {
    flex: 1;
    overflow: auto;
    margin-bottom: 40px;
  }
}

.cartTotalBlock {
  ul {
    margin-bottom: 40px !important;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
  
      div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }
    }
  }

  .btnGreen {
    position: relative;

    img {
      position: absolute;
      right: 35px;
      top: 20px;
      transition: transform .2s ease-in-out;
    }

    &:hover {
      img {
        transform: translateX(5px);
      }
    }
  }
}

.cartItem {
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;

  p {
    font-size: 14px;
    margin-top: 0;
  }

  b {
    font-size: 14px;
  }

  .btnRemove {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity .2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}
